body {
  background-color: #0b1f44;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main-div {
  height: 60vh;
  overflow-y: scroll;
  border: 6px solid white;
  border-radius: 10px;
}

.container {
  background-color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 350px;
  height: auto;
  max-height: auto;
  min-height: 100%;
}
.main-div::-webkit-scrollbar {
  display: none;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}
.todo-list-hd {
  color: white;
}

.todo-item {
  padding: 15px;
  border-radius: 6px;
  background-color: #0b1f44;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-text {
  font-weight: 600;
  flex: 1;
  color: white;
  margin-right: 10px;
}

.todo-actions {
  display: flex;
  align-items: center;
}

.todo-actions button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #888;
  transition: color 0.3s ease;
}

.todo-actions button:hover {
  color: #333;
}
.vip-tag {
  background-color: #ffc107;
  color: #333;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
}

.add-todo {
  display: flex;
  margin-bottom: 20px;
}
#edit-input {
  display: flex;
  margin-bottom: 20px;
}
#edit-input input {
  margin-right: 10px;
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
}
#edit-input button {
  background-color: #0c680d;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#edit-input button:hover {
  background-color: #0c680de3;
}
.add-todo input {
  margin-right: 10px;
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
}

.add-todo button {
  background-color: #3832de;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-todo button:hover {
  background-color: #0056b3;
}
